/* ----------- Galaxy S3 ----------- */

/* Portrait and Landscape */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 2) {

}

/* Portrait */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 2) 
  and (orientation: portrait) {


}

/* Landscape */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 2) 
  and (orientation: landscape) {

}

/* ----------- Galaxy S4 ----------- */

/* Portrait and Landscape */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) {

}

/* Portrait */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) 
  and (orientation: portrait) {

}

/* Landscape */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) 
  and (orientation: landscape) {

}

/* ----------- Galaxy S5 ----------- */

/* Portrait and Landscape */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) {

}

/* Portrait */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) 
  and (orientation: portrait) {
        #star {
  text-align: center;
  font-size: 100px;
  color: #ddd;
  margin-bottom: 100px;
  margin-top: 20px;
}

#sec4 > div > div > img {
   width: 70%;
    /* display: inherit; */
    margin-left: 60px;
}

#sec4 > div > div > p {
    text-align: block;
    font-family: 'Pathway Gothic One';
    font-size: 23px;
    width: 75%;
    margin-left: 50px;
    margin-top: 40px;
}
/* ABOUT */
body > div.section > h5 {
  margin-top: 10px;
}
/* WORK */
body > h5:nth-child(6){
  margin-top: 10px;
}

body > div:nth-child(7) {
  margin-left: 40px;
  width: 80%;
  margin-top: 30px;
  margin-bottom: 50px;
}
/*CONTACT */
body > h5:nth-child(10) {
  margin-top: 40px; 
}

body > div:nth-child(11){
  margin-top: 30px;
  margin-bottom: 50px;
}

}

/* Landscape */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) 
  and (orientation: landscape) {

}