/* ----------- iPhone 4 and 4S ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
}

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {

#star {
  text-align: center;
  font-size: 100px;
  line-height: 500px;
  color: #ddd;
}
}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

#star {
  text-align: center;
  font-size: 100px;
  line-height: 500px;
  color: #ddd;
  margin-top: -100px;
}

}

/* ----------- iPhone 5 and 5S ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
}

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {

#star {
  text-align: center;
  font-size: 100px;
  line-height: 500px;
  color: #ddd;
}
}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

#star {
  text-align: center;
  font-size: 100px;
  line-height: 500px
  color: #ddd;
}

}

/* ----------- iPhone 6 ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 

}

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 

#star {
  text-align: center;
  font-size: 100px;
  line-height: 650px;
  color: #ddd;
}

#sec4 > div > div > img {
    width: 70%;
    /* display: inherit; */
    margin-left: 55px;
}

#sec4 > div > div > p {
    text-align: block;
    font-family: 'Pathway Gothic One';
    font-size: 23px;
    width: 75%;
    margin-left: 50px;
    margin-top: 40px;
}


body > div:nth-child(7) {
    margin-left: 40px;
    width: 80%;
    margin-top: 30px;
}

body > h5:nth-child(10) {
    margin-top: 50px;
}

body > div:nth-child(11) {
    margin-top: 30px;
}

body > div.section > h5 {
  margin-top: 30px;
}

}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 

#star {
  text-align: center;
  font-size: 100px;
  line-height: 450px;
  margin-top: -48px;
  color: #ddd;
}

}

/* ----------- iPhone 6+ ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 

/*#star {
  text-align: center;
  font-size: 100px;
  line-height: 50px;
  color: #ddd;
}
*/
}

/* Portrait */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 

#star {
  text-align: center;
  font-size: 100px;
  line-height: 650px;
  color: #ddd;
}

}

/* Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 

#star {
  text-align: center;
  font-size: 100px;
  line-height: 200px;
  color: #ddd;
}

}